body{
    
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Fira Sans", serif;
    background-color: #f5f5f5;
    margin-left: 160px; 
    margin-right: 160px;

    /*font-weight: 300;
    font-style: normal;*/
}

  /* NavBar Starts Here*/

nav {
    
    padding: 10px 0;
    
  }
  
  .container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }
  

  
  span{
    font-weight: bolder;
    font-size: 1.5rem;
    
  }


  .login-btn {
    
   
   margin-left: auto;
   padding: .5rem .75rem;  
   border-radius: 5px ;  
   text-decoration: none; 
   color: #006A50;
   border: 2px solid #006A50;
  }

  .login-btn:hover{
    background: #34805c;
    color: white;
    cursor: pointer;
  }


  /* NavBar Ends Here*/


  /* Hero Starts Here*/

  .hero-container{
    display: flex;
    background-color: #c5e3d5;
    border-radius: 24px;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
  }




  .column-left h5{
        font-size: 1rem;
        opacity: .5;
  }

  .column-left p{
        margin-bottom: 1.75rem;
        font-size: 3rem;
        font-weight: bolder;
  }


  .column-right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
   }


  .explore-btn {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    background: #006A50;
    border-radius: 5px;
    color: white;
   }

   .explore-btn:hover{
    background: #34805c;
    cursor: pointer;
   }

 

   .newsletter{
    background-color: #c5e3d5;
    border-radius: 24px;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
  }


    
}


