body{
    
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Fira Sans", serif;
    background-color: #f5f5f5;
    margin-left: 160px; 
    margin-right: 160px;

    /*font-weight: 300;
    font-style: normal;*/
}

  /* NavBar Starts Here*/

nav {
    
    padding: 10px 0;
    
  }
  
  .container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  

  
  span{
    font-weight: bolder;
    font-size: 1.5rem;
    
  }


  .login-btn {
    
   
   margin-left: auto;
   padding: .5rem .75rem;  
   border-radius: 5px ;  
   text-decoration: none; 
   color: #006A50;
   border: 2px solid #006A50;
  }

  .login-btn:hover{
    background: #34805c;
    color: white;
    cursor: pointer;
  }


  /* NavBar Ends Here*/


  /* Hero Starts Here*/

  .hero-container{
    display: flex;
    background-color: #c5e3d5;
    border-radius: 24px;
    padding: 40px;
    
  }




  .column-left h5{
        font-size: 1rem;
        opacity: .5;
  }

  .column-left p{
        margin-bottom: 1.75rem;
        font-size: 3rem;
        font-weight: bolder;
  }


  .column-right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
   }


  .explore-btn {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    background: #006A50;
    border-radius: 5px;
    color: white;
   }

   .explore-btn:hover{
    background: #34805c;
    cursor: pointer;
   }

 

   .newsletter{
    background-color: #c5e3d5;
    border-radius: 24px;
    padding: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    
  }


    
  .subscribe-form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .subscribe-form input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px 0 0 8px;
    flex: 0.3;
    font-size: 16px;
  }
  
  .subscribe-form button {
    background-color: #046b47;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
  }
  
  .subscribe-form button:hover {
    background-color: #034d34;
  }
  
  .small-text {
    font-size: 14px;
    color: #464f4b;
  }

  .heading {
    font-size: 30px;
    color: #000;
    font-weight: 800;
    margin-bottom: 32px;
    margin-top: 80px;
  }

  .grid{
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    column-gap: 24px;
    

  }

  .small-card {
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 20px;
    background: white;

  }

  .small-card:hover {
    background: #e5eae8;
    cursor: pointer;

  }


  .big-card1 {
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 20px;
    background: #d5e1f5;

  }

  .big-card2 {
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 20px;
    background: #c5e3d5;

  }

  .big-card3 {
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 20px;
    background: #f7ebd0;

  }

  #text{
    font-size: 16px;
    color: #484343;
  }

  #text-newsletter{
    font-size: 16px;
    color: #484343;
    margin-left: 329px;
    margin-right: 329px;
  }

  #text-donate{
    font-size: 16px;
    color: #484343;
   
  }

  #text-amount{

    font-size: 32px;
    color: #000;
    font-weight: 900;

  }


  .testimonial-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    position: relative;
    padding-left: 40px;
  }
  
  .quote-icon {
    font-size: 200px;
    color: #d3d3d3;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
    z-index: 0;
  }
  
  .testimonial-text {
    font-size: 16px;
    color: #555;
    position: relative;
    line-height: 1.5;
    z-index: 1;
    margin-top: 25px; /* Adjust margin to overlap text with quote */
  }
  
  
  .author {
    font-size: 20px;
    font-weight: bold;
    line-height: .2;
  }
  
  .designation {
    font-size: 14px;
    color: #777;
    line-height: .2;
  }
  



  .OpinionHead {
    max-width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #c5e3d5;
    
  }

  .Opinion {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    background: white;
    padding: 20px;
  }

  .OpinionQ{
    border: 1px solid #ccc;
    padding: 24px;
    margin-right: auto;

  }




  .recent-news-container{
    display: flex;
    background-color: white;
    border-radius: 24px;
    padding: 48px;
    margin-bottom: 24px;
    

  }

  .recent-news-container-reverse{
    display: flex;
    background-color: white;
    border-radius: 24px;
    padding: 48px;
    margin-bottom: 24px;
    flex-direction: row-reverse;

  }

  .recent-news-image{
    border-radius: 24px ;  
  }

  #text-news{
    font-size: 16px;
    color: #484343;
    margin-bottom: 20px;
  }




  .donate-today{
   
    border-radius: 24px;
    padding: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    text-align: center;
    
  }

  .donate-btn {
    padding: 1rem 3rem;
    margin: 20px;
    font-size: 1rem;
    border: none;
    background: #006A50;
    border-radius: 5px;
    color: white;
   }

   .donate-btn:hover{
    background: #34805c;
    cursor: pointer;
   }

   .donate-grid{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    column-gap: 24px;
    justify-content: space-evenly;
   }

   .donate-small-card{
    border: 1px solid #ccc;
    border-radius: 16px;
    background: white;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 45px;
    padding-right: 45px;

   }


   .donate-small-card:hover{
    background: #bddacc;
    cursor: pointer;
   }


   .subscribe-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
    flex: .8;
    font-size: 16px;
    text-align: center;
  }

  #vertical-line{
    width: 1122px;
    height: 2px;
    background-color: silver;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  #favicon{
    display: flex;
    column-gap: 23px;
    justify-content: center;
  }