*{
    background: #f5f5f5;
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Fira Sans", serif;

    /*font-weight: 300;
    font-style: normal;*/
}

nav {
    
    padding: 10px 0;
    
  }
  
  .container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 10px;
  }
  

  
  span{
    font-weight: bolder;
    margin-left: 160px; 
    
  }


  .login-btn {
    
   margin-right: 160px;
   margin-left: auto;
   padding: .5rem .75rem;  
   border-radius: 5px ;  
   text-decoration: none; 
   color: #006A50;
   border: 2px solid #006A50;
  }

  .login-btn:hover{
    background: #34805c;
    color: white;
    cursor: pointer;
  }

  .column-left h5{
        margin-bottom: 2rem;
        font-size: 1rem;
  }

  .column-left p{
        margin-bottom: 1rem;
        font-size: 3rem;
  }

  .explore-btn {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    background: #006A50;
    border-radius: 5px;
    color: white;
   }

   .explore-btn:hover{
    background: #34805c;
    cursor: pointer;
   }



